:root{
    --fonts: Alumni Sans;
    border: none;
}

.background{
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #474747;
    z-index: -1;
    position: absolute;
}
.title_preview{
    position: absolute;
    background-color: #D9D9D9;
    top: 0;
    left: 0;
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
    font-family: var(--fonts);
    font-size: 6vh;
    font-weight: bold;
}
.home_btn{
    z-index: 1;
    top: 0;
    right: 0;
    position: absolute;
    color: #D9D9D9;
    background-color: transparent;
    width: 7vw;
    height: 5vh;
    font-family: var(--fonts);
    font-size: 2vh;
}
.back_to_field{
    z-index: 1;
    top: 0;
    right: 7vw;
    position: absolute;
    color: #D9D9D9;
    background-color: transparent;
    width: 7vw;
    height: 5vh;
    font-family: var(--fonts);
    font-size: 2vh;
}
.front_view_preview{
    position: absolute;
    background-color: #D9D9D9;
    top: 12vh;
    left: 8vw;
    width: 30vw;
    height: 80vh;
    border-radius: 1vh;
}
.label_front_view_preview{
    position: absolute;
    top: 94vh;
    left: 19vw;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    color: #D9D9D9;
}
.side_view_preview{
    position: absolute;
    background-color: #D9D9D9;
    top: 12vh;
    left: 40vw;
    width: 30vw;
    height: 80vh;
    border-radius: 1vh;
}
.label_side_view_preview{
    position: absolute;
    top: 94vh;
    left: 51.5vw;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    color: #D9D9D9;
}
.label_file{
    position: absolute;
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 3vh;
    padding-bottom: 1vh;
    color: #FFFFFF;
    top: 12vh;
    left: 73.5vw;
}
.file_selection{
    position: absolute;
    top: 18vh;
    left: 73.5vw;
    width: 20vw;
    height: 5vh;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    border-radius: 1vh;
    text-align: center;
}
.select_file_btn{
    position: absolute;
    top: 25vh;
    left: 73.5vw;
    width: 20vw;
    height: 7vh;
    border-radius: 1vh;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    border: none;
    background-color: #56A45F;
}
.status_preview{
    position: absolute;
    top: 34vh;
    left: 73.5vw;
    background-color: #D9D9D9;
    height: 25vh;
    width: 20vw;
    border-radius: 1vh;
}
.warn_and_macth{
    position: absolute;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    top: 1vh;
    left: 1vw;
}
.show_macth{
    position: absolute;
    top: 0;
    right: 0;
    height: 6vh;
    font-family: var(--fonts);
    font-size: 1.5vh;
    font-weight: bold;
    border-bottom-left-radius: 1vh;
    border-top-right-radius: 1vh;
    border: none;
}
.macth_name{
    position: absolute;
    font-family: var(--fonts);
    font-size: 3.5vh;
    font-weight: bolder;
    top: 6vh;
    left: 1vw;
}
.percent_macth{
    position: absolute;
    font-family: var(--fonts);
    font-size: 12vh;
    font-weight: bold;
    height: 15vh;
    width: 25vh;
    bottom: 1vh;
    right: 0;
}
.stat{
    position: absolute;
    top: 60vh;
    left: 72.5vw;
    height: 20.5vh;
    width: 20vw;
    border-radius: 1vh;
}
.label_safe{
    position: absolute;
    font-family: var(--fonts);
    font-size: 3.5vh;
    font-weight: bold;
    top: 1vh;
    left: 1vw;
    color: #D9D9D9;
}
.safe_level{
    position: absolute;
    background-color: #56A45F;
    height: 4vh;
    width: 10vw;
    top: 5vh;
    left: 1vw;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
}
.label_performance{
    position: absolute;
    font-family: var(--fonts);
    font-size: 3.5vh;
    font-weight: bold;
    top: 10.5vh;
    left: 1vw;
    color: #D9D9D9;
}
.performance_level{
    position: absolute;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    background-color: #FF5C5C;
    height: 4vh;
    width: 10vw;
    top: 15.5vh;
    left: 1vw;
}
.next_btn{
    position: absolute;
    top: 83vh;
    left: 73.5vw;
    height: 9vh;
    width: 20vw;
    border-radius: 1vh;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    background-color: #56A45F;
}
.display_macth{
    position: absolute;
    height: 85vh;
    width: 80vw;
    background-color: #1E1E1E;
    border-radius: 1vh;
    top: 7.5vh;
    left: 10vw;
    border-width: 1vh;
    border-color: aqua;
    z-index: -10;
}
.macth_name_stat{
    position: absolute;
    color: #FFFFFF;
    top: 2vh;
    left: 2vw;
    font-family: var(--fonts);
    font-size: 9vh;

}
.label_body_prop{
    position: absolute;
    color: #FFFFFF;
    font-family: var(--fonts);
    font-size: 5vh;
    font-weight: bold;
    top: 15vh;
    left: 2vw;
}
.macth_body{
    position: absolute;
    background-color: #D9D9D9;
    top: 22vh;
    left: 1vw;
    height: 61vh;
    width: 38vw;
    border-radius: 1vh;
}
.part_lenght_macth{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8vh;
    left: 2vw;
}
.label_angle_macth{
    font-family: var(--fonts);
    padding: 0.7vh;
    font-size: 2.5vh;
}
.joint_angle_macth{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8vh;
    left: 18vw;
}
.label_part_macth{
    font-family: var(--fonts);
    padding: 0.7vh;
    font-size: 2.5vh;
}
.label_part_length_macth{
    position: absolute;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    top: 1.5vh;
    left: 2vw;
}
.label_angle_limit_macth{
    position: absolute;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    top: 1.5vh;
    left: 18vw;
}
.label_your_body_prop{
    color: #FFFFFF;
    position: absolute;
    font-family: var(--fonts);
    font-size: 5vh;
    font-weight: bold;
    top: 15vh;
    left: 41vw;
}
.label_part_length_your{
    position: absolute;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    top: 1.5vh;
    left: 2vw;
}
.label_angle_limit_your{
    position: absolute;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    top: 1.5vh;
    left: 18vw;
}
.macth_body_your{
    position: absolute;
    background-color: #D9D9D9;
    top: 22vh;
    left: 40vw;
    height: 61vh;
    width: 39vw;
    border-radius: 1vh;
}
.part_lenght_your{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8vh;
    left: 2vw;
}
.label_angle_your{
    font-family: var(--fonts);
    padding: 0.7vh;
    font-size: 2.5vh;
}
.joint_angle_your{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 8vh;
    left: 18vw;
}
.label_part_your{
    font-family: var(--fonts);
    padding: 0.7vh;
    font-size: 2.5vh;
}
.leave{
    position: absolute;
    border: none;
    right: 0;
    top: 0;
    height: 5vh;
    width: 5vh;
    border-bottom-left-radius: 1vh;
    border-top-right-radius: 1vh;
    font-size: 3vh;
    font-weight: bold;
    background-color: #FF5C5C;
}