:root{
    --fonts: Alumni Sans;
    border: none;
}

.background{
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: #474747;
    z-index: -1;
    position: absolute;
}
.title_scanbody{
    position: absolute;
    background-color: #D9D9D9;
    top: 0;
    left: 0;
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-top-right-radius: 1vh;
    border-bottom-right-radius: 1vh;
    border-bottom-left-radius: 1vh;
}
.label_scanbody{
    font-family: var(--fonts);
    font-size: 5vh;
    font-weight: bold;
}
.preset1{
    position: absolute;
    background-color: #D9D9D9;
    top: 12vh;
    left: 8vw;
    width: 30vw;
    height: 80vh;
    border-radius: 1vh;
}
.lable_preset1{
    position: absolute;
    top: 94vh;
    left: 21vw;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    color: #D9D9D9;
}
.preset2{
    position: absolute;
    background-color: #D9D9D9;
    top: 12vh;
    left: 40vw;
    width: 30vw;
    height: 80vh;
    border-radius: 1vh;
}
.lable_preset2{
    position: absolute;
    top: 94vh;
    left: 53vw;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    color: #D9D9D9;
}
.home_btn{
    top: 0;
    right: 0;
    position: absolute;
    color: #D9D9D9;
    background-color: transparent;
    width: 7vw;
    height: 5vh;
    font-family: var(--fonts);
    font-size: 2vh;
}
.personal_information{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12vh;
    right: 6vw;
    height: 30vh;
    width: 20vw;
}
.label_gender{
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 3vh;
    padding-bottom: 1vh;
    color: #D9D9D9;
}
.gender{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    border-radius: 1vh;
    text-align: center;
}
.label_height{
    padding-top: 1vh;
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 3vh;
    padding-bottom: 1vh;
    color: #D9D9D9;
}
.height{
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    border-radius: 1vh;
}
.label_weight{
    padding-top: 1vh;
    font-family: var(--fonts);
    font-weight: bold;
    font-size: 3vh;
    padding-bottom: 1vh;
    color: #D9D9D9;
}
.weight{
    text-align: center;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonts);
    font-size: 3vh;
    font-weight: bold;
    border-radius: 1vh;
}
.instruction{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 45vh;
    right: 6vw;
    height: 36vh;
    width: 20vw;
    background-color: #D9D9D9;
    border-radius: 1vh;
    border: none;
}
.scan_btn{
    position: absolute;
    top: 83vh;
    right: 6vw;
    width: 20vw;
    height: 9vh;
    border-radius: 1vh;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    border: none;
    background-color: #56A45F;
}
.complete{
    top: 12.5vh;
    left: 17.5vw;
    position: absolute;
    z-index: -10;
    display: flex;
    flex-direction: column;
    background-color: #1E1E1E;
    height: 75vh;
    width: 65vw;
    border-radius: 1vh;
}
.label_scan_complete{
    position: absolute;
    color: #FFFFFF;
    font-family: var(--fonts);
    font-size: 6vh;
    font-weight: bold;
    top: 2.5vh;
    left: 18vw;
    height: 6vh;
    width: 26vw;
}
.filename{
    position: absolute;
    font-family: var(--fonts);
    width: 33vw;
    height: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 5vh;
    border: none;
    border-radius: 1vh;
    background-color: #D9D9D9;
    top: 12.5vh;
    left: 2.5vw;
}
.save{
    position: absolute;
    top: 12.5vh;
    left: 38vw;
    height: 7.5vh;
    width: 12vw;
    border-radius: 1vh;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    background-color: #56A45F;
}
.back{
    position: absolute;
    top: 12.5vh;
    left: 50.5vw;
    height: 7.5vh;
    width: 12vw;
    border-radius: 1vh;
    font-family: var(--fonts);
    font-size: 4vh;
    font-weight: bold;
    background-color: #FF5C5C;
}
.label_result{
    color: #FFFFFF;
    font-family: var(--fonts);
    font-size: 5vh;
    position: absolute;
    top: 22.5vh;
    left: 2.5vw;
}
.personal_information_show{
    background-color: #D9D9D9;
    position: absolute;
    top: 30vh;
    left: 2.5vw;
    width: 60vw;
    height: 40vh;
    border-radius: 1vh;
}
.label_part_length{
    position: absolute;
    font-family: var(--fonts);
    font-size: 3.5vh;
    font-weight: bold;
    top: 0.5vh;
    left: 2vh;
}
.label_angle_limit{
    position: absolute;
    font-family: var(--fonts);
    font-size: 3.5vh;
    font-weight: bold;
    top: 0.5vh;
    left: 50vh;
}
.label_part,.label_angle{
    font-family: var(--fonts);
    font-size: 2.5vh;
}
.part_lenght{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5vh;
    left: 2vh;
}
.joint_angle{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5vh;
    left: 50vh;
}